/* HTML Elements */

html {
	height: 100%;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

body {
	height: 100%;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
    background-image: url("../images/debut_light.png");
}

h1 {
    font-size: 60px;
    color: #ffffff;
    padding: 10px;
    text-shadow: 0px 2px 3px #aaa;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

h2 {
    font-size: 36px;
    color: #222;
    text-shadow: 0px 2px 3px #aaa;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

h3 {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0px 2px 3px #aaa;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

h4 {
    font-size: 22px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #222;
    font-weight: bold;
    text-shadow: 0px 2px 3px #aaa;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

p {
    color: #222;
    text-shadow: 0px 2px 3px #555 inset;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

/* Classes */

.static_page {
    height: 100%;
    padding: 10%;
    overflow: hidden;
}

.static_page h1 {
    font-size: 140px;
    text-shadow: 0px 2px 3px #555;
    font-weight: bold;
    text-align: right;
    margin-bottom: 50px;
}

.static_page p {
    text-shadow: 0px 1px 2px #555;
}

@media screen and (max-width: 760px) {
  .static_page { padding: 6%; }
  .static_page h1 { font-size: 100px; }
}

@media screen and (max-width: 400px) {
    .static_page { padding: 2%; }
    .static_page h1 { font-size: 60px; }
}

.centered {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    text-align: center;
}

.blue {
    background: #368eda; /* Old browsers */
    background: -moz-linear-gradient(top, #368eda 0%, #2a6ca7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#368eda), color-stop(100%,#2a6ca7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #368eda 0%,#2a6ca7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #368eda 0%,#2a6ca7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #368eda 0%,#2a6ca7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #368eda 0%,#2a6ca7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#368eda', endColorstr='#2a6ca7',GradientType=0 ); /* IE6-9 */
}

.static_page p {
    color: #fff;
    font-size: 16px;
}

/* IDs */

#header a {
    padding-left: 10px;
    text-shadow: 0px 2px 3px #555;
}

#footer p {
    color: #ffffff;
    text-shadow: 0px 1px 2px #555;
}

#hdrtitle img {
    float: left;
    margin: 10px;
    width: 80%;
    height: auto !important;
}

#nav {
    text-align: right;
    margin-top: 15px;
    float: right;
}

#nav a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

#nav a:hover {
    text-decoration: underline;
}

#leftside {
    float: left;
}

#sidebar {
    float: right;
}

#leftside h2 {
    margin-bottom: 20px;
}

#videowrapper {
    display: block;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #cccccc;
}

#dog {
    width: 100%;
    height: auto !important;
}