html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
	
    background-image: url('../../images/transparent_texture.png'), linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -o-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -moz-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -webkit-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -ms-linear-gradient(bottom, #990000 100%, #800000 0%);

    background-image: url('../../images/transparent_texture.png'), -webkit-gradient(3
        linear,
        left bottom,
        left top,
        color-stop(1, #990000),
        color-stop(0, #800000)
    );
}

h1 {
	font-size: 48px;
	color: white;
	padding: 10px;
}

h2 {
	font-size: 36px;
	color: #CCC;
}

.center {
	display: block;
	text-align: center;
	margin: 10% auto 10% auto;
	font-family: “Trebuchet MS”, Tahoma, Arial, sans-serif;
}

@media (max-width: 480px) {
  h1 {
  	font-size: 36px;
  }

  h2 {
  	font-size: 24px;
  }

  img {
  	min-width: 150px;
  	width: 60%;
  	height: auto !important;
  }
}