/* Types */

body {
	background-image: url('images/cream_dust.png');
}


/* Classes */

.blue {
    background-image: url('images/transparent_texture.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2681d0), color-stop(100%, #185182));
    background-image: url('images/transparent_texture.png'), -webkit-linear-gradient(top, #2681d0, #185182);
    background-image: url('images/transparent_texture.png'), -moz-linear-gradient(top, #2681d0, #185182);
    background-image: url('images/transparent_texture.png'), -ms-linear-gradient(top, #2681d0, #185182);
    background-image: url('images/transparent_texture.png'), -o-linear-gradient(top, #2681d0, #185182);
    background-image: url('images/transparent_texture.png'), linear-gradient(top, #2681d0, #185182);
}

/* IDs */

#login {
	overflow: hidden;
	height: 100%;
}

#login img {
	width: 50%;
	height: auto !important;
	margin-top: 25%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 10%;
}

#login a {
	display: none;
}