/* HTML Elements */
body {
    font-family: Tahoma, Arial, sans-serif;
    background-image: url("../../images/cream_dust.png");
}

h1 {
    font-size: 60px;
    color: #fff;
    padding: 10px;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h2 {
    font-size: 36px;
    color: #333;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h3 {
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h4 {
    font-size: 22px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #333;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h5 {
    font-size: 16px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 1px 2px #555;
    font-family: Tahoma, Arial, sans-serif;
}

p {
    color: #333;
    text-shadow: 0px 1px 2px #555 inset;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    position: relative;
    top: 1px;
}

li {
    padding-bottom: 2px;
    margin: 0;
}

/* Classes */

.static_page {
    height: 100%;
    padding: 10%;
    overflow: hidden;
}

.static_page h1 {
    font-size: 140px;
    text-shadow: 0px 1px 2px #555;
    font-weight: bold;
    text-align: right;
    margin-bottom: 50px;
}

.static_page p {
    text-shadow: 0px 1px 2px #555;
}

@media screen and (max-width: 760px) {
  .static_page { padding: 6%; }
  .static_page h1 { font-size: 100px; }
}

@media screen and (max-width: 400px) {
    .static_page { padding: 2%; }
    .static_page h1 { font-size: 60px; }
}

#centered {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    text-align: center;
}

.blue {
    background-image: url('../../images/transparent_texture.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2681d0), color-stop(100%, #185182));
    background-image: url('../../images/transparent_texture.png'), -webkit-linear-gradient(top, #2681d0, #185182);
    background-image: url('../../images/transparent_texture.png'), -moz-linear-gradient(top, #2681d0, #185182);
    background-image: url('../../images/transparent_texture.png'), -ms-linear-gradient(top, #2681d0, #185182);
    background-image: url('../../images/transparent_texture.png'), -o-linear-gradient(top, #2681d0, #185182);
    background-image: url('../../images/transparent_texture.png'), linear-gradient(top, #2681d0, #185182);
}

.blue a {
    color: #fff;
}

.blue p {
    color: #fff;
}

.blue li {
    font-size: 12px;
}

.static_page p {
    color: #fff;
    font-size: 16px;
}

/* IDs */

#hdrtitle img {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: auto !important;
}

#nav {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

#nav a {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}

#leftside {
    float: left;
}

#sidebar {
    float: right;
}

#leftside h2 {
    margin-bottom: 20px;
}

#fblogin {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
    background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    color:#14396a;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:1px 1px 0px #7cacde;
}

#fblogin:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
    background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
    background-color:#468ccf;
}

#fblogin:active {
    position:relative;
    top:1px;
}

#videowrapper {
    display: block;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #999;
}

#copyright {
    font-size: 12px;
}

#errorbutton {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    text-align: center;
    color: #333;
}

#errorbutton:hover {
    text-decoration: none;
}

#dog {
    /*ADD SUBTLE SHADOW AROUND THE DOG! */
    width: 100%;
    height: auto !important;
}