/*********** HTML Elements ***********/

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Tahoma, Arial, sans-serif;
    background-image: url("../../images/cream_dust.png");
}

h1 {
    font-size: 60px;
    color: #fff;
    padding: 10px;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h2 {
    font-size: 36px;
    color: #333;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h3 {
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h4 {
    font-size: 22px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #333;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h5 {
    font-size: 16px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 1px 2px #555;
    font-family: Tahoma, Arial, sans-serif;
}

p {
    color: #333;
    text-shadow: 0px 1px 2px #555 inset;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    position: relative;
    top: 1px;
}

li {
    padding-bottom: 2px;
    margin: 0;
}

/*********** Classes ***********/

.static_page {
    height: 100%;
    padding: 6%;
    overflow: hidden;
}

.static_page h1 {
    font-size: 120px;
    text-shadow: 0px 1px 2px #555;
    font-weight: bold;
    text-align: right;
    margin-bottom: 4%;
}

.static_page p {
    text-shadow: 0px 1px 2px #555;
}

@media screen and (max-width: 760px) {
  .static_page { padding: 5%; }
  .static_page h1 { font-size: 72px; 
        margin-bottom: 2%; }
}

@media screen and (max-width: 480px) {
    .static_page { padding: 1%; }
    .static_page h1 { font-size: 48px; 
        margin-bottom: 1%; }
}

.red {
    background-image: url('../../images/transparent_texture.png'), linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -o-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -moz-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -webkit-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -ms-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -webkit-gradient(3
        linear,
        left bottom,
        left top,
        color-stop(1, #990000),
        color-stop(0, #800000)
    );
}

.red a {
    color: #fff;
}

.red p {
    color: #fff;
}

.red li {
    font-size: 12px;
}

.redBtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #990000), color-stop(1, #800000) );
    background:-moz-linear-gradient( center top, #990000 5%, #800000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#800000');
    background-color:#990000;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #b23e35;
}.redBtn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #800000), color-stop(1, #990000) );
    background:-moz-linear-gradient( center top, #800000 5%, #990000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#800000', endColorstr='#990000');
    background-color:#800000;
}.redBtn:active {
    position:relative;
    top:1px;
}

.static_page p {
    color: #fff;
    font-size: 16px;
}

.comingsoon {
    min-height: 200px;
    height: 100%;
}

/*********** IDs ***********/

/* Header */

#headerTitle img {
    float: left;
    /*margin-bottom: 10px;*/
    width: 100%;
    height: auto !important;
    /*height: 60px;*/
}

#nav {
    text-align: right;
    margin-top: 7px;
    float: right;
}

#nav a {
    font-size: 20px;
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
}

#nav a:hover{
    color: #cccccc;
}

#leftside {
    float: left;
}

#leftside h2 {
    margin-bottom: 20px;
}

#sidebar {
    float: right;
}

#sidebar ul li {
    color: #14396a;
    font-weight: bold;
}

#centered {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    text-align: center;
}

#fbLoginBtn {
    color: white;
}

#videoWrapper {
    display: block;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #999;
}

#copyright {
    font-size: 12px;
}

/* Schedule */

#calview {
    margin-bottom: 50px;
}

#scheduleVersion {
    margin-top: -20px;
    color: gray;
}

#addCourseBox {
    font-size: 16px;
    width: 97%;
    font-family: Tahoma, Arial, sans-serif;
}
#addCourseBox:hover {
    box-shadow: 0px 0px 2px #D96C6E;
}
#addCourseBox:focus {
    box-shadow: 0px 0px 5px #D96C6E;
}

#actionBtns {
    height: 32px;
    margin-top: -10px;
    background: #eeeeee;
    border: 1px solid #cccccc;
}
#actionBtns img {
    display: block;
    margin: 4px auto;
}
#browseBtn {
    width: 33%;
    height: 100%;
    float: left;
    border-right: 1px solid #cccccc;
}
#browseBtn:hover {
    background: #dddddd;
    cursor: pointer;
}
#addEventsBtn {
    width: 33%;
    height: 100%;
    float: left;
    border-right: 1px solid #cccccc;
}
#addEventsBtn:hover {
    background: #dddddd;
    cursor: pointer;
}
#shareBtn {
    width: 33%;
    height: 100%;
    float: left;
}
#shareBtn:hover {
    background: #dddddd;
    cursor: pointer;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
    outline: none;
    color: #000000;
    border: 1px solid gray;
}
.ui-accordion .ui-accordion-header:nth-child(1) {
    background-color: #D96C6E;
}
.ui-accordion .ui-accordion-header:nth-child(2) {
    background-color: #DAFFB3;
}
.ui-accordion .ui-accordion-header:nth-child(3) {
    background-color: #9ECFFF;
}
.ui-accordion .ui-accordion-header:nth-child(4) {
    background-color: #FFF799;
}
.ui-accordion .ui-accordion-header:nth-child(5) {
    background-color: #FFBE69;
}
.ui-accordion .ui-accordion-header:nth-child(6) {
    background-color: #C891FF;
}

.ui-accordion .ui-accordion-content {
    margin-top: -8px;
    margin-bottom: 8px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #F2F2F2;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    /*overflow: scroll;
    max-height: 200px;*/
}

#accordion table {
    width: 100%;
}
#accordion tr:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}
#accordion tr {
    height: 30px;
    font-size: 14px;
}
#accordion tr:not(:nth-child(1)):hover {
    background: rgb(255, 0, 0); /* Fall-back for rgba() */
    background: rgba(255, 0, 0, 0.3);
    cursor: pointer;
}
#accordion td {
    padding-left: 10px;
    padding-top: 4px;
}
#accordion td:nth-child(1) {
    font-weight: bold;
}

/* 404 */

#errorbutton {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    text-align: center;
    color: #333;
}

#errorbutton:hover {
    text-decoration: none;
}

#dog {
    width: 100%;
    height: auto !important;
}

#desc404 {
    margin-top: 70px;
}

#retbtn404 {
    margin-top: 50px;
}