/*********** HTML Elements ***********/

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Tahoma, Arial, sans-serif;
    background-image: url("../../images/cream_dust.png");
}

h1 {
    font-size: 50px;
    color: #000000;
    padding: 10px;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h2 {
    font-size: 36px;
    color: #333;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h3 {
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h4 {
    font-size: 26px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #333;
    text-shadow: 0px 1px 2px #aaa;
    font-family: Tahoma, Arial, sans-serif;
}

h5 {
    font-size: 16px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 1px 2px #555;
    font-family: Tahoma, Arial, sans-serif;
}

p {
    color: #333;
    text-shadow: 0px 1px 2px #555 inset;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    position: relative;
    top: 1px;
}

li {
    padding-bottom: 2px;
    margin: 0;
}

/*********** Classes ***********/

.static_page {
    height: 100%;
    padding: 6%;
    overflow: hidden;
}

.static_page h1 {
    font-size: 120px;
    text-shadow: 0px 1px 2px #555;
    font-weight: bold;
    text-align: right;
    margin-bottom: 4%;
}

.static_page p {
    text-shadow: 0px 1px 2px #555;
}

@media screen and (max-width: 760px) {
  .static_page { padding: 5%; }
  .static_page h1 { font-size: 72px; 
        margin-bottom: 2%; }
}

@media screen and (max-width: 480px) {
    .static_page { padding: 1%; }
    .static_page h1 { font-size: 48px; 
        margin-bottom: 1%; }
}

.red {
    background-image: url('../../images/transparent_texture.png'), linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -o-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -moz-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -webkit-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -ms-linear-gradient(bottom, #990000 100%, #800000 0%);
    background-image: url('../../images/transparent_texture.png'), -webkit-gradient(3
        linear,
        left bottom,
        left top,
        color-stop(1, #990000),
        color-stop(0, #800000)
    );
}

.red a {
    color: #fff;
}

.red p {
    color: #fff;
}

.red li {
    font-size: 12px;
}

.redBtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #990000), color-stop(1, #800000) );
    background:-moz-linear-gradient( center top, #990000 5%, #800000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#800000');
    background-color:#990000;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #b23e35;
}.redBtn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #800000), color-stop(1, #990000) );
    background:-moz-linear-gradient( center top, #800000 5%, #990000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#800000', endColorstr='#990000');
    background-color:#800000;
}.redBtn:active {
    position:relative;
    top:1px;
}

.static_page p {
    color: #fff;
    font-size: 16px;
}

.comingsoon {
    min-height: 200px;
    height: 100%;
}

.container {
    height: 100%;
}

/*********** IDs ***********/

/* Header */

#header {
    box-shadow: 0px 0px 5px #222;
}

#headerTitle img {
    float: left;
    width: 100%;
    height: auto !important;
}

#nav {
    text-align: right;
    margin-top: 7px;
    float: right;
}

#nav a {
    font-size: 20px;
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
}

#nav a:hover{
    color: #cccccc;
}

#leftside {
    float: left;
}

#leftside h2 {
    margin-bottom: 20px;
}

#sidebar {
    float: right;
}

#sidebar ul li {
    color: #14396a;
    font-weight: bold;
}

#centered {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#introVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 5px #999999;
}

#fbLoginBtn {
    width: 150px;
    height: 23px;
    background: url("../../images/fblogin.png") 0 0;
}
#fbLoginBtn:hover {
    background: url("../../images/fblogin.png") 0 -24px;
    cursor: pointer;
}

#copyright {
    font-size: 12px;
}

/* Marketing */
#marketing #title {
    margin-top: 20px;
}
#marketing #titleRow {
    margin-bottom: 40px;
}
#marketing h4 {
    margin-bottom: 10px;
}
#marketing li {
    list-style-type: circle;
    margin-left: 40px;
    font-size: 16px;
}
#marketing img {
    margin-top: 20px;
}
#marketing img:not(#noShadow) {
    box-shadow: 0px 0px 10px #999999;
}
#marketing .row {
    margin-bottom: 150px;
}

/* Login */

#login {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}
#registerForm {
    margin-top: 20px;
}
#login label {
    float: right;
    display: inline;
    margin-right: 235px;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 20px;
    font-family: Tahoma, Arial, sans-serif;
}
#andrewBox {
    font-size: 20px;
    width: 30%;
    margin-left: auto;
    font-family: Tahoma, Arial, sans-serif;
}
#andrewBox:hover {
    box-shadow: 0px 0px 2px #D96C6E;
}
#andrewBox:focus {
    box-shadow: 0px 0px 5px #D96C6E;
}

/* Schedule */

#calview {
    margin-bottom: 50px;
}

#scheduleVersion {
    margin-top: -20px;
    color: gray;
}

#addCourseBox {
    font-size: 16px;
    width: 95%;
    font-family: Tahoma, Arial, sans-serif;
}
#addCourseBox:hover {
    box-shadow: 0px 0px 2px #D96C6E;
}
#addCourseBox:focus {
    box-shadow: 0px 0px 5px #D96C6E;
}

#actionBtns {
    height: 32px;
    margin-top: -10px;
}
#actionBtns img {
    display: block;
    margin: 4px auto;
}
#browseBtn {
    width: 49%;
    height: 100%;
    float: left;
    background: #eeeeee;
    border: 1px solid #cccccc;
}
#browseBtn:hover {
    background: #dddddd;
    cursor: pointer;
}
#addEventsBtn {
    width: 49%;
    height: 100%;
    float: left;
    background: #eeeeee;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
#addEventsBtn:hover {
    background: #dddddd;
    cursor: pointer;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
    outline: none;
    color: #000000;
    border: 1px solid #cccccc;
    border-bottom: none;
    background-color: #D96C6E;
}

.ui-accordion .ui-accordion-content {
    margin-top: -8px;
    margin-bottom: 8px;
    padding-bottom: 15px;
    background-color: #eeeeee;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    overflow-x: hidden;
}

.ui-accordion .group .contentHdr {
    padding-top: 5px;
    background-color: #D96C6E;
}

#accordion p {
    padding-top: 4px;
    padding-left: 10px;
    width: 90%;
    font-size: 16px;
    font-weight: bold;
}
#accordion .units {
    float: left;
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: -20px;
    height: 20px;
    font-weight: normal;
}
#accordion .del {
    float: right;
    color: #bb0000;
    font-size: 14px;
    margin-right: 50px;
    width: 10px;
    height: 10px;
    font-style: italic;
    font-weight: normal;
}
#accordion .del:hover {
    cursor: pointer;
    color: #ff0000;
}
#accordion .info {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    width: 10px;
    height: 10px;
    font-style: italic;
    font-weight: normal;
}
#accordion .info:hover {
    cursor: pointer;
    color: #888888;
}

#accordion table {
    width: 100%;
    margin-top: -20px;
}
#accordion tr:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}
#accordion tr {
    height: 30px;
    font-size: 14px;
}
#accordion tr:not(:nth-child(1)):hover {
    background: rgb(255, 0, 0); /* Fall-back for rgba() */
    background: rgba(255, 0, 0, 0.3);
    cursor: pointer;
}
#accordion td {
    padding-left: 10px;
    padding-top: 4px;
}
#accordion td:nth-child(1) {
    font-weight: bold;
}

/* CourseBrowser */
#courseBrowser {
    width: 650px;
    height: 500px;
}
#courseBrowser h2 {
    margin-bottom: 20px;
}
#courseBrowserHdr {
    width: 100%;
    /*box-shadow: 0px 0px 10px #777777;*/
}

#courseBrowserForm input {
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    font-family: Tahoma, Arial, sans-serif;
}
#courseBrowserForm input:hover {
    box-shadow: 0px 0px 2px #D96C6E;
}
#courseBrowserForm input:focus {
    box-shadow: 0px 0px 5px #D96C6E;
}

#courseBrowserBody {
    width: 100%;
    max-height: 380px;
    overflow: scroll;
}

.courseBrowserRow {
    width: 100%;
    height: 50px;
    background: #eeeeee;
    display: inline-block;
    margin-bottom: -5px;
    overflow: hidden;
}
.courseBrowserRow:nth-child(odd) {
    background: #ffffff;
}
.courseBrowserRow:hover {
    background: rgb(255, 0, 0); /* Fall-back for rgba() */
    background: rgba(255, 0, 0, 0.3);
    cursor: default;
}
.courseBrowserRow h1 {
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    text-shadow: none;

    margin-top: -10px;
    float: left;
}
.courseBrowserRow h2 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-shadow: none;

    width: 380px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}
.courseBrowserRow h3 {
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    text-shadow: none;

    width: 100px;
    margin-top: 8px;
    margin-left: 20px;
    float: left;
}
.courseBrowserRow img {
    margin-top: 17px;
    margin-left: 20px;
    float: left;
}
.courseBrowserRow img:hover {
    cursor: pointer;
}

/* EventBrowser */
#eventBrowser h2 {
    margin-bottom: 20px;
}
#eventForm {
    margin-left: 10px;
}
#eventForm input {
    font-size: 16px;
    font-family: Tahoma, Arial, sans-serif;
}
#eventForm input:focus {
    box-shadow: 0px 0px 5px #D96C6E;
}
#eventForm select {
    font-size: 16px;
    font-family: Tahoma, Arial, sans-serif;
}

/* ShareSheet */
#shareSheet h2 {
    margin-bottom: 20px;
}
.shareBtn {
    width: 350px;
    height: 50px;
    background: #eeeeee;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}
.shareBtn:hover {
    background: #dddddd;
    cursor: pointer;
}
.shareBtn img {
    float: left;
    margin-right: 20px;
}
.shareBtn p {
    float: left;
    font-size: 20px;
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
    margin-top: 13px;
}

/* Course Info Browser */
#courseInfoBrowser {
    width: 750px;
    height: 500px;
    /*overflow-y: scroll;*/
}
#courseInfoBrowser #courseInfoHeader h2 {
    float: left;
    margin-bottom: -30px;
}
#courseInfoBrowser #courseInfoHeader h3 {
    color: #000000;
    text-shadow: none;
    float: left;
    margin-left: 20px;
    margin-top: -3px;
}
#courseInfoBrowser #courseInfoHeader h4 {
    color: #777777;
    font-size: 16px;
    text-shadow: none;
    clear: both;
}
#courseInfoBrowser #courseInfoBody {
    height: 400px;
    margin-top: -30px;
    overflow-y: scroll;
}
#courseInfoBrowser table tr:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}
#courseInfoBrowser table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
#courseInfoBrowser #courseInfoBody h3 {
    margin-top: 20px;
    color: #000000;
    text-shadow: none;
    font-size: 20px;
}
#courseInfoBrowser #courseInfoBody p {
    font-size: 14px;
}

/* 404 */

#errorbutton {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    text-align: center;
    color: #333;
}

#errorbutton:hover {
    text-decoration: none;
}

#dog {
    width: 100%;
    height: auto !important;
}

#desc404 {
    margin-top: 70px;
}

#retbtn404 {
    margin-top: 50px;
}